@import url("./reset");

/* header css */
.nav-container-flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

li {
  display: inline-block;
}

header nav li {
  border: 1px solid #fff;
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.menu-items {
  display: flex;
  flex-flow: row nowrap;
  width: 90%;
  justify-content: space-between;
  background-color: grey;
}

.menu-items li {
  text-align: center;
  line-height: 100px;
  height: 100px;
  width: 20%;
  font-family: "Roboto", sans-serif;
}

.logo,
.search-button {
  border: 1px solid #fff;
  background-color: grey;
  width: 200px;
  text-align: center;
  line-height: 100px;
  height: 100px;
}

.bottom-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.article {
  background-color: grey;
  border: 1px solid #fff;
  min-width: 50%;
  height: 800px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: white;
}

.article h2 {
  font-size: 35px;
}

header {
  position: relative;
}

.miss-articles-title {
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 10%;
}

.seriously {
  position: absolute;
  right: 50px;
  top: 160px;
}

.hight-ligth {
  background-color: white;
}

/* articles css */
.bottom-articles {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex-grow: 1;
  width: 400px;
  height: 400px;
  background-color: grey;
  border: 1px solid #fff;
  padding: 30px;
}

.list p {
  margin-bottom: 20px;
}

.footer-list li {
  display: list-item;
  margin-right: 20px;
}

.list ul li {
  display: list-item;
  line-height: 2;
}

.list h2 {
  font-size: larger;
  font-weight: 900;
  margin-bottom: 30px;
}

.newsletter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  width: 1000px;
  height: 400px;
  background-color: grey;
  border: 0;
  border-radius: 5px;
  margin: 0 50px 0 50px;
  padding: 50px;
}

.newsletter h2,
.list p {
  font-size: larger;
  font-weight: 900;
  color: #fff;
}

.round-div {
  width: 15%;
  height: 85%;
  border-radius: 50%;
  margin: 10px 0 10px 0;
  background-color: dimgray;
}

.subscribe-button {
  width: 15%;
  height: 15%;
  border-radius: 7px;
  margin-bottom: 20px;
  background-color: darkgrey;
}

/* design css */
.design-systems-section {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 350px;
  margin-top: 1px;
}

.featured-book,
.book-container {
  border: 1px solid #fff;
  background-color: grey;
}

.featured-book {
  display: flex;
  flex-flow: column nowrap;
  align-items: space-around;
  width: 70%;
  padding: 50px;
}

.fb-description p {
  margin-bottom: 30px;
}

.fb-description h2 {
  font-size: larger;
  font-weight: 900;
  color: #fff;
  margin-bottom: 40px;
}

.toc-button {
  width: 15%;
  height: 15%;
  border-radius: 7px;
  background-color: darkgrey;
}

.book-container {
  width: 30%;
}

.the-book {
  margin: auto;
  margin-top: -35px;
  transform: rotate(-10deg);
  border-radius: 1px;
  border: 1px solid #fff;
  background-color: darkgrey;
  height: 200px;
  width: 150px;
  text-align: center;
}

.book-title {
  text-align: center;
  font-size: large;
  font-weight: 700;
  margin-top: 80px;
}

/* inclusive css */
.inclusive-components {
  background-color: gray;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid white;
}

.inclusive-components h2 {
  width: 35%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.inclusive-components p {
  width: 45%;
}

.b-learn {
  width: 25%;
  height: 50px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.smash-book {
  width: 10%;
  height: 300px;
  margin-bottom: 35px;
  background-color: black;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* main css */
main {
  display: flex;
  flex-flow: row wrap;
}

.main-article,
.smashing-members {
  height: 600px;
  background-color: grey;
  border: 1px solid #fff;
  border-bottom: 0;
  width: 33.33%;
}

.smashing-title h2 {
  font-size: 30px;
}

.main-article figure h2 {
  font-size: 25px;
}

.smashing-members {
  flex-basis: 48%;
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.role-article {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: stretch;
  background-color: grey;
  height: 300px;
  padding: 30px;
}

figure,
.article-date,
.article-body {
  background-color: grey;
}

.article-date {
  font-size: 10px;
}

.smashing-title {
  margin-bottom: 100px;
}

.smashing-members button {
  width: 25%;
  height: 10%;
  border-radius: 7px;
  margin-bottom: 20px;
  background-color: darkgrey;
}

/* style css */
* {
  box-sizing: border-box;
}

body {
  font-family: Lato, Montserrat, sans-serif;
  font-size: 20px;
}

a,
a:hover {
  color: #000;
  text-decoration: none;
}

.hide_me {
  display: none;
}

/* writers css */
.float-container::after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.writers {
  padding: 50px;
  background-color: gray;
}

.float-item {
  float: left;
  width: 50%;
  margin-bottom: 50px;
}

.picture {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  transform: rotate(-20deg);
  margin-right: 20px;
  background-color: black;
}

.description {
  display: inline-block;
  width: 50%;
}

.week-picture {
  display: inline-block;
  border: 1px solid black;
  width: 150px;
  height: 150px;
  transform: rotate(-20deg);
  margin-right: 30px;
  background-color: black;
}

.week-description {
  display: inline-block;
  width: 85%;
}

.week-writer {
  margin-bottom: 70px;
}

/* footer css */
footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  height: 700px;
  padding: 50px;
  background-color: grey;
  margin-top: 1px;
}

.footer-title {
  font-size: larger;
  font-weight: 500;
  margin-bottom: 40px;
}

.footer-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  padding: 0 20%;
}

.footer-list li span {
  position: relative;
  left: -10px;
  line-height: 2;
}

.made-with {
  width: 40%;
  text-align: center;
  margin-bottom: 60px;
  line-height: 2;
}

.footer-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.left-image,
.footer-menu-listing,
.right-image {
  width: 33.333%;
}

.left-image,
.right-image {
  background-color: dimgrey;
  border-radius: 50%;
  width: 10%;
  height: 255%;
  margin-top: -20px;
  text-align: center;
  padding-top: 50px;
}

.left-image {
  margin-right: 50px;
}

.footer-menu-listing {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 35%;
  margin-top: -150px;
}

.footer-menu-listing a {
  text-decoration: underline;
  padding-right: 10px;
}

.right-image {
  margin-left: 50px;
}
